* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    text-align: center;
    background: #c7c7c7;
    padding: 20px;
}

.container {
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

/* 添加秘钥输入框的样式 */
.key-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px;
    align-items: center;
}

.key-input-container span {
    font-size: 16px;
    color: #333;
}

.key-input-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}

.key-input-container button {
    background: #0288d1;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.key-input-container button:hover {
    background: #0277bd;
}

#file-list {
    list-style: none;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    text-align: left;
}

#file-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#file-list li:hover {
    background: #f1f1f1;
}

.folder-icon-directory {
    color: #095af1;
}

#drop-area {
    border: 2px dashed #009688;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    background: #f9f9f9;
    height: 150px;
    line-height: 100px;
}

#drop-area:hover {
    background: #e0f2f1;
}

#clean-btn {
    background: #ff6a00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

#clean-btn:hover {
    background: #ff0000;
}

#upload-list {
    list-style: none;
    margin-top: 10px;
}

#upload-list li {
    background: #e3f2fd;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: #e53935;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn:hover {
    background: #c62828;
}

#upload-btn {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

#upload-btn:hover {
    background: #388e3c;
}

#progress {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background: #4caf50;
    transition: width 0.3s ease;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav-buttons button {
    background: #0288d1;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-buttons button:hover {
    background: #0277bd;
}

#current-path {
    font-size: 16px;
    color: #555;
}

#upload-status {
    margin-top: 20px;
    font-size: 18px;
    color: green;
    display: none;
}

/* 输入框的样式*/
#secret-key {
    flex: 1;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
}

#secret-key input {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;

}